body{
    background-color: #fffff0;
}
.logo-navbar-1 {
    width: 177px;
    position: relative;
    height: 44px;
    object-fit: cover;
}
.lorem-ipsum {
    position: relative;
    line-height: 19px;
    font-weight: 600;
}
.text-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.text-nav-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.iconaccount-circle {
    width: 36px;
    position: relative;
    height: 36px;
}
.navbar {
    position: absolute;
    top: 0px;
    left: calc(50% - 719px);
    box-shadow: var(--shadow-m);
    background-color: var(--primary-purple-100);
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-3xs) var(--padding-131xl);
    box-sizing: border-box;
}
.markunread-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.kontak {
    position: relative;
    line-height: 22px;
    font-weight: 600;
}
.markunread-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}
.assignment-ind-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}
.frame-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 31px;
}
.footer {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 719px);
    background-color: var(--secondary-orange-orange-100);
    width: 1440px;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-3xs) var(--padding-131xl);
    box-sizing: border-box;
    font-size: var(--sub-heading-18-size);
}
.lorem-ipsum3 {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 38.4px;
    font-weight: 600;
}
.bangun-kepercayaan-diri {
    width: 387px;
    position: relative;
    line-height: 19px;
    display: inline-block;
    flex-shrink: 0;
}
.text-nav4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--body-16-size);
}
.text-nav-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
}
.frame-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.batch-5-dimulai {
    align-self: stretch;
    position: relative;
    line-height: 19px;
    font-weight: 600;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #121212;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.iconcalendar-month {
    width: 24px;
    position: relative;
    height: 24px;
}
.november {
    position: relative;
    line-height: 19px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #121212;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.november-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
}
.batch-date {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs);
}
.iconalarm-add {
    width: 11.3px;
    position: relative;
    height: 11.3px;
    overflow: hidden;
    flex-shrink: 0;
}
.label {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 10.69px;
    font-weight: 600;
}
.button {
    width: 88px;
    box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.25) inset;
    border-radius: 11.25px;
    background-color: var(--secondary-orange-orange-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4.5px 13.5px;
    box-sizing: border-box;
    gap: 4.5px;
    text-align: center;
    font-size: 7.88px;
}
.button:hover {
    background-color:rgb(218, 120, 0);
}
.batch-5-dimulai-pada-parent {
    width: 211px;
    border-radius: var(--br-3xs);
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-mid);
    box-sizing: border-box;
    gap: var(--gap-9xs);
}
.kandidat-telah-terbantu {
    width: 216px;
    position: relative;
    line-height: 19px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #121212;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.frame-child {
    position: relative;
    height: 21.4px;
}
.div {
    position: relative;
    line-height: 19px;
}
.kandidat-telah-terbantu-ditaha-parent {
    width: 247px;
    border-radius: var(--br-3xs);
    background-color: var(--neutral-white);
    height: 117px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-mid);
    box-sizing: border-box;
    gap: var(--gap-5xs);
    color: var(--color-black);
}
.frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    font-size: var(--body-16-size);
    color: var(--neutral-white);
}
.frame-container {
    width: 476px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.ilustarsi-icon {
    width: 476px;
    position: relative;
    height: 476px;
}
.frame-group {
    position: absolute;
    top: 54px;
    left: calc(50% - 719px);
    border-radius: 0px 0px var(--br-41xl) var(--br-41xl);
    background-color: var(--primary-purple-25);
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 156px;
    box-sizing: border-box;
    gap: 176px;
    font-size: var(--heading-semi-bold-32-size);
    color: var(--color-black);
}
.informasi-kelas {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 26px;
    font-weight: 600;
}
.text-nav6 {
    align-self: stretch;
    border-radius: var(--br-3xs) var(--br-3xs) 0px 0px;
    background-color: var(--primary-purple-100);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px var(--padding-5xl);
}
.lorem-ipsum5 {
    position: relative;
    line-height: 22px;
    font-weight: 600;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #121212;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-nav7 {
    align-self: stretch;
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px var(--padding-5xl);
    box-sizing: border-box;
    font-size: var(--sub-heading-18-size);
}
.text-nav-parent1 {
    width: 555px;
    border-radius: var(--br-3xs);
    background-color: var(--neutral-white);
    border: 1px solid var(--neutral-black);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.text-nav-parent2 {
    width: 555px;
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.text-nav10 {
    align-self: stretch;
    border-radius: var(--br-3xs) var(--br-3xs) 0px 0px;
    background-color: var(--primary-purple-100);
    border: 1px solid var(--neutral-black);
    box-sizing: border-box;
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px var(--padding-5xl);
}
.text-nav-parent4 {
    width: 555px;
    border-radius: var(--br-3xs);
    border: 1px solid var(--neutral-black);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 33px 31px;
    color: var(--neutral-white);
}
.text-nav-container {
    position: absolute;
    top: 650px;
    left: calc(50% - 570px);
    width: 1141px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 42px;
    font-size: var(--sub-heading-24-size);
    color: var(--color-black);
}
.course-latihan-interview {
    width: 100%;
    position: relative;
    background-color: var(--neutral-white);
    height: 1429px;
    overflow: hidden;
    text-align: left;
    font-size: var(--body-16-size);
    color: var(--neutral-white);
    font-family: var(--sub-heading-18);
}

